<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bgctub_transport_tracker_studentapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BGCTUB_Transport_Tracker_StudentApp">
        <activity android:name=".DeleteAccountActivity"
            android:label="@string/DeleteAccountActivityTitle"
            android:parentActivityName=".SettingsActivity" />
        <activity android:name=".ChangePasswordActivity"
            android:label="@string/changePassActivityTitle"
            android:parentActivityName=".SettingsActivity"/>
        <activity
            android:name=".NewsAndUpdateActivity"
            android:parentActivityName=".AppMainActivity"
            android:label="@string/newsAndUpdateTitle"
            />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_title"
            android:parentActivityName=".AppMainActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".AppMainActivity"
            android:label="@string/title_activity_app_main"
            android:launchMode="singleTop"
            android:theme="@style/Theme.BGCTUB_Transport_Tracker_StudentApp.NoActionBar" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/forgetPassActivityTitle"
            android:parentActivityName=".SigninActivity" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/signupActivityTitle"
            android:parentActivityName=".SigninActivity" />
        <activity
            android:name=".SigninActivity"
            android:label="@string/signinActivityTitle"
            android:launchMode="singleTop" />
        <activity
            android:name=".TipsActivity"
            android:label="@string/tipsActivitytitle" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.BuildNotificationService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true"
            />
    </application>
</manifest>